h1{
	color:red;
	display:inline;
}
h2{
	display:inline;
	font-size:16px;
}
h3{
	display:inline;
	font-size:16px;
}
#loginbutton{
	width:100px;
	height:25px;
	display:inline-block;
}
#submitbutton{
	width:100px;
	height:25px;
	display:inline-block;
}
#searchrecipebutton{
	width:100px;
	height:25px;
	display:inline-block;
}
