{% extends 'beer_recipes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static "css/beer_recipes/list_ingredient.css" %}" />

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Delete Water Profile</h1>
    <p class="lead">Please confirm below.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <form method='post' name='delete_water'>
      {% csrf_token %}
      Are you sure you would like to delete this Water Profile?
      <button type="submit" class="btn btn-danger">Delete Profile</button>
    </form>
  </div>
</div>
{% endblock content %}
