{% extends 'beer_recipes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static "css/beer_recipes/shared.css" %}" />

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hop Details</h1>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <p>Name: {{ object.name }}</p>
    <p>Date added: {{ object.date_submitted|date }}</p>
    <p>Hop Version: {{ object.version }}</p>
    <p>Amount in Kg: {{ object.amount }}</p>
    <p>Alpha: {{ object.alpha }}%</p>
    <p>Use: {{ object.use }}</p>
    {% if object.use == "Mash" %}
      <p>Mash Time: {{ object.time }}</p>
    {% elif object.use == "Boil" or object.use == "First Wort" %}
      <p>Boil Time: {{ object.time }}</p>
    {% elif object.use == "Aroma" %}
      <p>Steep Time: {{ object.time }}</p>
    {% elif object.use == "Dry Hop" %}
      <p>Dry Hop Time: {{ object.time }}</p>
    {% endif %}
    {% if object.description %}
      <p>Description: {{ object.description }}</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
