{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static "css/wine_search.css" %}"/>

  <div class="banner-photo">
    <img src="{% static "pictures/wine_banner.png" %}" width="100%" height="602">
    <br><br>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h1>Wine Recipes</h1>
      <div id="Search Bar">
      	<input type="text" name"TitleSearch" id="Search Bar"/>
      	<button>Search</button>
    	</div>
      <div id="recipe_table">
        {% if recipes %} <!-- Check if there are any recipes in the dict -->
          <table>
            <thead>
              <th>Recipe Name</th>
              <th>Description</th>
              <th>Submission Date</th>
            </thead>
            {% for recipe in recipes %}
              <form action="{% url 'wine_recipes:view_recipe' %}" id="{{ recipe.name }}" method="get" name="{{ recipe.name }}">
                <tr>
                  <td>{{ recipe.name }}</td>
                  <td>{{ recipe.description }}</td>
                  <td>{{ recipe.date_submitted }}</td>
                  <td class="view_recipe_button_cell">
                    <button name="view_recipe" value="{{ recipe.name }}" form="{{ recipe.name }}" class="btn btn-primary" id="{{ recipe.name }}" onclick="this.form.submit();">View Recipe</button>
                  </td>
                </tr>
              </form>
            {% endfor %}
          </table>
        {% else %} <!-- There are no recipes in the dict -->
          <h4 id="no_recipes">Sorry, no recipes matched your search. Try again, or add a recipe now!</h4>
        {% endif %}
      </div>
      <a href="{% url 'wine_recipes:new_recipe' %}">Add a new Recipe</a>
    </div>
  </div>

{% endblock content %}
